.cardBody {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.cardBody:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.imgCard {
    height: 14rem;
    object-fit: cover;
    border-radius: 0.5rem;

}
.commentButton {
    display: flex;
    justify-content: flex-end;
}
.chatBox {
    margin-top: 1rem;
    justify-content: flex-end;
    display: flex;
    align-items: center;
}